.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 9px; */
    /* width: 100%; */
    margin-top: 8%;
    margin-bottom: 4%;
}

.text {
    color: rgba(19, 4, 133, 0.862);
    font-size: 48px;
    border-radius: 9px;
    font-weight: 700;
}

.underline {
    width: 100px;
    height: 6px;
    background: rgba(19, 4, 133, 0.862);
    border-radius: 9px;
    margin: 4%;
}

.container {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 10%;
    /* background-color: rgba(19, 4, 133, 0.862); */
}

.forgot-password {
    /* padding-left: 62px; */
    margin-top: 5%;
    /* color: rgba(19, 4, 133, 0.862); */
    font-size: 18px;
    /* display: flex;
    flex-direction: row; */
}

.register {
    /* color: rgba(19, 4, 133, 0.862); */
    font-size: 18px;

}

.forgot-password span {
    color: rgba(19, 4, 133, 0.862);
    cursor: pointer;
}

.register span {
    color: rgba(19, 4, 133, 0.862);
    cursor: pointer;
}

.custom-form {
    /* margin: 1%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* width: 70%; */
}

.textField-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
}

.submit-container {
    display: flex;
    gap: 5px;
    /* margin: 30px; */
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;    
}

.display-edit-quizzes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.display-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.display-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* background-color: rgba(19, 4, 133, 0.862); */
}

.options-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.resultTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}

.totalsTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}

.questions {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(9, 14, 146, 0.386);
    border-radius: 10px;
}