.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 9px; */
    /* width: 100%; */
    margin-top: 8%;
    margin-bottom: 4%;
}

.text {
    color: rgba(19, 4, 133, 0.862);
    font-size: 48px;
    border-radius: 9px;
    font-weight: 700;
}

.underline {
    width: 100px;
    height: 6px;
    background: rgba(19, 4, 133, 0.862);
    border-radius: 9px;
    /* margin top 4%; and margin bottom 4%; */
    margin: 4% ;
}

.container {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    width: 70%;
}


.forgot-password {
    /* padding-left: 62px; */
    margin-top: 5%;
    /* color: rgba(19, 4, 133, 0.862); */
    font-size: 18px;
    /* display: flex;
    flex-direction: row; */
}

.register {
    /* color: rgba(19, 4, 133, 0.862); */
    font-size: 18px;
    
}

.forgot-password span {
    color: rgba(19, 4, 133, 0.862);
    cursor: pointer;
}

.register span {
    color: rgba(19, 4, 133, 0.862);
    cursor: pointer;
}

.custom-form {
    /* margin: 1%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
    /* width: 70%; */
}

.textField-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
}

.submit-container {
    display: flex;
    gap: 5px;
    /* margin: 30px; */
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-container {
    display: flex;
    gap: 5px;
    
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width: 80%;    
} */

/* .label-width {
    min-width: 120px;   
}

label {
    margin-right: 1%;
} */